/* CSS declarations go here */

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}
.btn{
	white-space: normal;
}

.chatlink{
	color:black;
	font-size:25px;
}
.panel-heading{
	text-align:center;
}
.talk-bubble {
	margin: 40px;
  	display: inline-block;
  	position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}
.emojis{
	display:inline;
	overflow-y:scroll;
}
.emoji{
	width:25px;
	height:25px;
}
.small-img{
	width:40px;
	height:40px;
}
.fixed-panel {
      min-height: 500px;
      max-height: 500px;
      overflow-y: scroll;
      overflow-x:hidden;
      background-color: lightblue;
}
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -40px;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -20px;
  	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: -8px;
    float:left;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
} 
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
  float:left;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	float:right;
    left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}